@import "bootstrap";
@import "rails_bootstrap_forms";
.nav_font {
    font-size: 30px;
    color: white;
  
  
  }
  .nav_font:hover {
    color: white;
  }
  .form_zayavka {
  
    font-size: 25px;
  
  }
  .form_zayavka_bild {
  
    font-size: 35px;
  
  }
